.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  background-color: yellow;
  margin: 0 auto;  
  width: 720px;
}

.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

#player1_strip .active {
  background-color: blue;
  border: 1px red;
}


#player2_strip .active {
  background-color: red;
  border: 1px red;
}

td{
  border-top: 1px solid;
  border-bottom: 1px solid;
}
